<body>
    <div class="heading">
        <p class="title" #about id="about">About me</p>
        <div class="line"></div>
    </div>

    <div class="description">
        <p>Hello! My name is Harshini and I enjoy creating things that live on the internet. My interest in UI started back in 2011 when I had to create a simple website using HTML and CSS - it was super fun and exciting!<br><br> Fast-forward to today, and
            I’ve had the privilege of working at a <a href="https://tataelxsi.com" class="link" target="_blank">top IT company,</a> designing and developing websites for various products. My main focus is to build upon my design skills and deliver world-class
            user experiences, along with expertise in multiple frontend frameworks.<br><br>Here are a few technologies I’ve been working with recently:
            <span>
                <ul>
                    <div class="col1">
                        <li>JavaScript (ES6+)</li>
                        <li>TypeScript</li>
                        <li> Angular 9+</li>
                    </div>
                    <div class="col2">
                        <li>HTML</li>
                        <li>CSS/SCSS</li>
                        <li>Bootstrap</li>

                    </div>
                </ul>
            </span>


        </p>
        <div class="image">
            <img src="../../assets/myphoto.png">
            <div class="box"></div>

        </div>
    </div>
</body>