<div>
    <p class="line-1">Hi, my name is</p>
    <p class="line-2">Harshini Rajagopal.</p>
    <p class="line-3">I build things for the web.</p>
    <p class="line-4">I’m a Frontend engineer specializing in building digital experiences. Currently, I’m focused on building accessible, human-centered products at <a class="link" href="https://tataelxsi.com" target="_blank">Tata Elxsi.</a> </p>
    <a href="https://rxresu.me/harshini3228/frontend" target="_blank"><button>Check out my Resume!</button></a>

</div>